@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow: hidden;
    
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.clamp-text{
  font-size: clamp(2rem, -9.071rem + 29.424vw, 17.5rem);
}

.text-smooth{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.svg-hover:hover path{
  fill:transparent;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

.maskDiv {
  -webkit-clip-path: url(#maskBox);
  clip-path:url(#maskBox);
}