@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp-text{
  font-size: clamp(2rem, -9.071rem + 29.424vw, 17.5rem);
}

.text-smooth{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-hover:hover path{
  fill:transparent;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}